body {
    background-image: url('https://br.freepik.com/vetores-gratis/abstrato-amarelo-em-quadrinhos-zoom_6481665.htm#page=1&query=fundo&position=4');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
    }
  
  .site-subtitle {
   font-style: italic; 
  }